body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1,
h2 {
    color: #2c3e50;
}

#tours {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tours th,
#tours td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#tour-details {
    margin-top: 20px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 8px;
}

form {
    margin-top: 20px;
}

input,
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.tag-container {
    margin-top: 10px;
}

.tag-input {
    display: flex;
    margin-bottom: 10px;
}

.tag-input input {
    padding: 8px;
    margin-right: 5px;
}

.tag-input button {
    padding: 8px 12px;
    background-color: #2fbaf1;
    color: white;
    border: none;
    border-radius: 5px;
}

.tag-input button:hover {
    background-color: #1abc9c;
}

.tag-input .remove-tag {
    margin-left: 5px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}